@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  background: #224941 url('./img/bg.jpg') no-repeat center center/cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
} */

.yogimage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 40%;
  width: 40%;
}

.breath-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.breath-text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.breath-text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
}

.appletree {
  height: 80%;
  margin-top: 2%;
  margin-bottom: 3%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.apple {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: fit-content;
  width: fit-content;

  position: relative;
  transform: scale(0.8);
}

.apple1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: min-content;
  width: min-content;
  position: relative;
  transform: scale(0.8);
}

.apple2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: min-content;
  width: min-content;
  position: relative;
  transform: scale(0.8);
}

.circle {
  display: flex;
  background-color: #010f1c;
  height: 94%;
  width: 94%;
  border-radius: 50%;
  position: absolute;
  top: 4.2%;
  left: 4%;
  z-index: -1;
  object-fit: scale-down;
  animation: breathe 16s linear forwards infinite;
}

.circle1 {
  display: flex;
  background-color: #010f1c;
  height: 94%;
  width: 94%;
  border-radius: 50%;
  position: absolute;
  top: 4.2%;
  left: 4%;
  z-index: -1;
  animation: breathe1 16s linear forwards infinite;
}

.circle2 {
  display: flex;
  background-color: #010f1c;
  height: 94%;
  width: 94%;
  border-radius: 50%;
  position: absolute;
  top: 4.2%;
  left: 4%;
  z-index: -1;
  animation: breathe2 19s linear forwards infinite;
}

.gradient-circle {
  display: flex;
  background: conic-gradient(#55b7a4 0%,
      #4ca493 25%,
      #fff 25%,
      #fff 37%,
      #336d62 37%,
      #336d62 87%,
      #fff 87%,
      #fff 100%);
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: 100%;
  position: absolute;
  object-fit: scale-down;
  top: 1%;
  left: 1%;
  animation: breathe 16s linear forwards infinite;
}

.gradient-circle1 {
  display: flex;
  background: conic-gradient(#6fd9c4 0%,
      #6fd9c4 25%,
      #2a5b52 25%,
      #2a5b52 50%,
      #6fd9c4 50%,
      #6fd9c4 75%,
      #2a5b52 75%,
      #2a5b52 100%);
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: 100%;
  position: absolute;
  top: 1%;
  left: 1%;
  animation: breathe1 16s linear forwards infinite;
}

.gradient-circle2 {
  display: flex;
  background: conic-gradient(#55b7a4 0%,
      #4ca493 21%,
      #fff 21%,
      #fff 57.84%,
      #336d62 57.84%,
      #2a5b52 100%);
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: 100%;
  position: absolute;
  top: 1%;
  left: 1%;
  animation: breathe2 19s linear forwards infinite;
}

.pointer {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  height: 10%;
  width: 22%;
  display: block;
  object-fit: scale-down;
}

.pointer1 {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  height: 13%;
  width: 6.5%;
  display: block;
}

.pointer2 {
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  height: 10%;
  width: 14.5%;
  display: block;
}

.pointer-container {
  display: flex;
  position: absolute;
  top: -40px;
  left: 118px;
  width: 92px;
  height: 198px;
  object-fit: scale-down;
  animation: rotate 16s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer-container1 {
  display: flex;
  position: absolute;
  top: -4px;
  left: -3px;
  width: 310px;
  height: 155px;
  animation: rotate1 16s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer-container2 {

  display: flex;
  position: absolute;
  top: -40px;
  left: 91px;
  width: 137px;
  height: 202px;
  animation: rotate2 19s linear forwards infinite;
  transform-origin: bottom center;
}


#intofire {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 33px;
  width: 37px;
}

@keyframes rotate {
  0% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(367deg);
  }

}

@keyframes rotate1 {
  0% {
    transform: rotate(42deg);
  }

  100% {
    transform: rotate(402deg);
  }
}


@keyframes rotate2 {
  0% {
    transform: rotate(12deg);
  }

  100% {
    transform: rotate(372deg);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  37% {
    transform: scale(1.2);
  }

  87% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes breathe1 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }

}


@keyframes breathe2 {
  0% {
    transform: scale(1);
  }

  21% {
    transform: scale(1.2);
  }

  57.9% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }

}


/* body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */

.container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #a09696;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}

.but {
  margin-top: 10px;
  padding: 10px;
  width: 48%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #5897dc;
  color: #fff;
  transition: background-color 0.3s;
}

.but:hover {
  background-color: #0056b3;
}

.but:nth-child(2) {
  background-color: #9a474f;
}

.butt {
  margin-top: 10px;
  padding: 10px;
  width: 13%;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #5897dc;
  color: #fff;
  transition: background-color 0.3s;
}

.butt:hover {
  background-color: #0056b3;
}

.butt:nth-child(2) {
  background-color: #9a474f;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
}

lits {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

lits.completed {
  text-decoration: line-through;
  color: #888;
}

lits button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

lits button:hover {
  background-color: #b02a37;
}

tex {
  text-emphasis-color: black;
}